{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-sm-6">
        <h1>Reset Your Password</h1>
        <br>
        <div class="row">
            <div class="col-md-8">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="text-align: center; padding-top: 20px">
        <div style="margin:0 auto;">
            <img src="../static/images/6Gpath-transparent.png" alt="6G-Path">
            <br>
            <h2>{{ description }}</h2>
        </div>
    </div>
</div>
{% endblock %}