.custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

.table-wrapper-scrollbar{
    display: block;
}

.menuSelected{
    color: #0074d9 !important;
    font-weight: bold !important;
}