{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script>
(function() {
    document.getElementById('navbar-vnf').classList.add('menuSelected');
    document.getElementById('navbar-home').classList.remove('menuSelected');
    document.getElementById('navbar-createExperiment').classList.remove('menuSelected');
})();

function confirmDeleteVnf(VNFId){
    if (window.confirm("Do you really want to remove the VNF?")) {
        window.location.replace("/NS/deleteVnf/"+VNFId);
    }
}

function confirmDeleteNs(VNFId){
    if (window.confirm("Do you really want to remove the NS?")) {
        window.location.replace("/NS/deleteNs/"+VNFId);
    }
}


</script>
{% endblock %}

{% macro accordionCard(accordion, card, entity, type) %}
<div class="card">
    <div class="panel panel-info">
        <div class="panel-heading" id="{{ card }}Header" style="padding: 0px !important">
            <button class="btn btn-panel" type="button" data-toggle="collapse" style="width: 100%;"
                    data-target="#{{ card }}_{{ type }}" aria-expanded="false" aria-controls="{{ card }}_{{ type }}">
                <b>{{ type }}:</b> {{ entity.name }}
            </button>
        </div>
        <div id="{{ card }}_{{ type }}" class="collapse" aria-labelledby="{{ card }}Header" data-parent="#{{ accordion }}">
            <div class="card-body">
                {% if type == 'VNF' %}
                    {% include 'ns_management/_VNF.html' %}
                {% else %}
                    {% include 'ns_management/_NS.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div style="text-align: center">
                <h2>VNF REPOSITORY</h2>
            </div>
            <a class="btn btn-blue" href="{{ url_for('NsManagement.upload_VNF') }}" role="button">Upload VNF</a>
            <br>
            <br>
            <div class="accordion" id="VNFAccordion">
                {% for VNF in VNFs %}
                {{ accordionCard('VNFAccordion', VNF.name.replace(' ',''), VNF, 'VNF') }}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div style="text-align: center">
                <h2>NS REPOSITORY</h2>
            </div>
            <a class="btn btn-blue" href="{{ url_for('NsManagement.upload_NS') }}" role="button">Upload NS</a>
            <br>
            <br>
            <div class="accordion" id="NSaccordion">
                {% for NS in NSs %}
                {{ accordionCard('NSAccordion', NS.name.replace(' ',''), NS, 'NS') }}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}


