<tr>

    <th scope="row" class="col-md-2">
       {{ execution.id }}
    </th>
    <td class="col-md-2">
        {% if execution.status == 'Init' %}
        <span class="label label-default">{{ execution.status }}</span>
        {% elif execution.status in ['PreRun', 'Run', 'PostRun'] %}
        <span class="label label-primary">{{ execution.status }}</span>
        {% elif execution.status == 'Finished' %}
        <span class="label label-success">{{ execution.status }}</span>
        {% elif execution.status == 'Cancelled' %}
        <span class="label label-warning">{{ execution.status }}</span>
        {% elif execution.status == 'Errored' %}
        <span class="label label-danger">{{ execution.status }}</span>
        {% endif %}

    </td>
    <td class="col-md-3">
        {{ execution.start_time }}
    </td>
    <td class="col-md-3">
        {{ execution.end_time }}
    </td>
    <td class="col-md-2">
        <a class="btn btn-primary btn-sm" href="/execution/{{ execution.id }}" role="button">Execution Logs</a>
    </td>
</tr>