<table class="table table-striped  table-header-right">
    <tr>
        <th class="col-md-1">Description</th>
        <td class="col-md-11" style="background-color: white">{{ VNFInfo.description }}</td>
    </tr>
</table>
<table class="table table-striped table-header">
    <tr>
        <th class="col-md-3">VNFD Path</th>
        <th class="col-md-3">NDS Path</th>
        <th class="col-md-3">NST Path</th>
        <th class="col-md-3">Image Path</th>
    </tr>
    <tr>
        <td class="table-cell-divisor-right">{{ VNFInfo.VNFD }}</td>
        <td class="table-cell-divisor-right">{{ VNFInfo.NDS }}</td>
        <td class="table-cell-divisor-right">{{ VNFInfo.NST }}</td>
        <td>{{ VNFInfo.image }}</td>
    </tr>
</table>


