{% extends 'bootstrap/base.html' %}

{% block scripts %}
{{ super() }}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}

<html>
{% block title %}
5GENESIS Portal
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='nanobar.min.js') }}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){ $(this).remove(); });
    }, 4000);
</script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('authentication.login') }}"><img src="../static/images/5genesis_transparent.png" alt="5Genesis" height="50" width="39" style="float: left; padding: 5px"></a>
            <a class="navbar-brand" href="{{ url_for('authentication.login') }}">5Genesis</a>
            {% else %}
            <a href="{{ url_for('main.index') }}"><img src="../static/images/5genesis_transparent.png" alt="5Genesis" height="50" width="39" style="float: left; padding: 5px"></a>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">5Genesis</a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if current_user.is_anonymous %}
            <ul class="nav navbar-nav">
                <li><a id="navbar-login" href="{{ url_for('authentication.login') }}">Login</a></li>
                <li><a id="navbar-register" href="{{ url_for('authentication.register') }}">Register</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
                <li><a id="navbar-home" href="{{ url_for('main.index') }}">Home</a></li>
                <li><a id="navbar-createExperiment" href="{{ url_for('main.new_experiment') }}">Create Experiment</a></li>
                <li><a id="navbar-vnf" href="{{ url_for('main.vnf_repository') }}">VNF Repository</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('authentication.logout') }}">{{ current_user.username }} - Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% else %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}