{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_logView.html' as logView %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
{% endblock %}

{% macro executorTimes(name, executor) %}
<div class="container">
    <h3>{{ name }}</h3>
</div>
{% endmacro %}


{% macro accordionCard(accordion, card, logInfo) %}
{% set LogLevels = ['Debug', 'Info', 'Warning', 'Error', 'Critical'] %}
<div class="card">
    <div class="card-header" id="{{ card }}Header">
        <button class="btn btn-block" type="button" data-toggle="collapse"
                data-target="#{{ card }}Log" aria-expanded="false" aria-controls="{{ card }}Log">
            {{ card }} Log
            {% for level in LogLevels %}
                {% set count = logInfo.Count[level] %}
            {% endfor %}
        </button>
    </div>
    <div id="{{ card }}Log" class="collapse" aria-labelledby="{{ card }}Header" data-parent="#{{ accordion }}">
        <div class="card-body">
            {{ logView.logView(logInfo) }}
        </div>
    </div>
</div>
{% endmacro %}



{% block app_content %}
<h3>Execution {{ execution.id }}:</h3>
<hr>
</br>
<b>Experiment: </b>{{ execution.experiment_id }}</br>
<b>Status: </b>{{ execution.status }}</br>
<b>Start Time: </b>{{ execution.start_time }}</br>
<b>End Time: </b>{{ execution.end_time }}</br>
</br>
</br>

    <div class="container">
        Status: <span class="badge">{{ execution.status }}</span>
        Created: {{ execution.start_time }}
    </div>

    <div class="accordion" id="logAccordion">
      {{ executorTimes('Pre-Run', preRun) }}
      {{ accordionCard('logAccordion', 'Pre-Run', preRun) }}
      {{ executorTimes('Run', executor) }}
      {{ accordionCard('logAccordion', 'Run', executor) }}
      {{ executorTimes('Post-Run', postRun) }}
      {{ accordionCard('logAccordion', 'Post-Run', postRun) }}
    </div>
{% endblock %}