{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkBtn').click(function() {
              checked = $("input[type=checkbox]:checked").length;
              if(!checked) {
                alert("Please, select at least one Test Case");
                return false;
              }
            });
        });
    </script>
</head>


<h3>Create experiments:</h3>
<form id="form" method="post">
    {{ form.hidden_tag() }}
    <h4>Name</h4>
    <input class="form-control" type="text" name="name" required/>
    <h4>Type</h4>
    <select class="form-control" name="type">
        <option value="Standard" selected>Standard</option>
        <option value="Custom" disabled>Custom</option>
    </select>
    <h4>Test Cases</h4>
    {% for test_case in test_case_list %}
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="test_cases" value="{{test_case}}"> {{test_case}}</br>
    </div>
    {% endfor %}
    </br>
    <button type="submit" id="checkBtn" name="submit" class="btn btn-primary btn-sm">Add Experiment</button>
</form>
<hr>
</br>
<h3>Experiments:</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Experiment ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for experiment in experiments %}
    {% include '_experiment.html' %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}