{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Create experiments:</h3>
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    <hr>
    </br>
    <h3>Experiments:</h3>
    <table class="table table-hover">
        <tr>
            <th>Experiment ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    {% for experiment in experiments %}
        {% include '_experiment.html' %}
    {% endfor %}
    </table>
{% endblock %}