{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/browseFiles.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
(function() {
    document.getElementById('navbar-vnf').classList.add('menuSelected');
    document.getElementById('navbar-home').classList.remove('menuSelected');
    document.getElementById('navbar-createExperiment').classList.remove('menuSelected');
})();
</script>
<script src="{{url_for('static', filename='js/browseFiles.js')}}"></script>
{% endblock %}

{% block app_content %}
<div style="text-align: center">
    <h2>UPLOAD VNF</h2>
</div>
</br>
<div class="col-sm-2" ></div>
<div class="col-sm-8" >
    <form id="form" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h4>Name</h4>
        <input class="form-control" type="text" name="name" maxlength="64" required/>
        <h4>Description</h4>
        <textarea class="form-control" rows="5" name="description" maxlength="256" required></textarea>
        </br>
        <table class="table table-header-right">
            <tr>
                <th class="table-cell-divisor-right col-sm-4">Upload VNFD</th>
                <td>
                    <div class="input-file-container">
                        <input type="file" id="fileVNFD" name="fileVNFD" class="input-file1" required/>
                        <label for="fileVNFD" class="input-file-trigger1">Browse</label>
                        <span class="file-return1"></span>
                    </div>
                </td>
            </tr>

            <tr>
                <th class="table-cell-divisor-right">Upload Image</th>
                <td>
                    <div class="input-file-container">
                        <input type="file" id="fileImage" name="fileImage" class="input-file2" required/>
                        <label for="fileImage" class="input-file-trigger2">Browse</label>
                        <span class="file-return2"></span>
                    </div>
                </td>
            </tr>
        </table>
        </br>
        </br>
        <button type="submit" name="submit" class="btn btn-darkBlue">Upload VNF</button>
    </form>
</div>
<div class="col-sm-2" ></div>
{% endblock %}