{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script>
(function() {
    document.getElementById('navbar-vnf').classList.add('menuSelected');
    document.getElementById('navbar-home').classList.remove('menuSelected');
    document.getElementById('navbar-createExperiment').classList.remove('menuSelected');
})();
</script>
{% endblock %}

{% macro accordionCard(accordion, card, VNFInfo) %}
<div class="card">
    <div class="card-header" id="{{ card }}Header">
        <button class="btn btn-block" type="button" data-toggle="collapse"
                data-target="#{{ card }}_VNF" aria-expanded="false" aria-controls="{{ card }}_VNF">
            VNF: {{ card }}
        </button>
    </div>
    <div id="{{ card }}_VNF" class="collapse" aria-labelledby="{{ card }}Header" data-parent="#{{ accordion }}">
        <div class="card-body">
            {% include '_VNF.html' %}
        </div>
    </div>
</div>
{% endmacro %}

{% block app_content %}
<div style="text-align: center">
    <h2>VNF REPOSITORY</h2>
</div>
</br>
<div class="accordion" id="VNFAccordion">
    {% for VNF in VNFs %}
    {{ accordionCard('VNFAccordion', 'VNF'+(VNF.id|string), VNF) }}
    {% endfor %}
</div>
{% endblock %}


